{% import 'macros.twig' as _ %}

{{- beforeField|raw -}}
<div class="flex-field flex-field-{{ fieldType|e('html_attr') }}{{ _.maybeAddClass(hasError|default(false), 'flex-field-has-error') }}"{% if hidden %} hidden{% endif %}>
    {{- before|raw -}}
    {{- content|raw -}}
    {{- after|raw -}}
    {%- if hasError -%}{% include 'error.twig' %}{%- endif -%}
</div>
{{- afterField|raw -}}